<!DOCTYPE html>
<!-- 通过xmlns:th=”http://www.thymeleaf.org“ 命令空间，将静态页面转换为动态的视图，需要进行动态处理的元素将使用“th:”前缀 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>学习资源大奉送，爱我就关注嘟嘟公众号：嘟爷java超神学堂（javaLearn）</h1>
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>作者</td>
            <td>教程名称</td>
            <td>地址</td>
        </tr>
        <!-- Thymeleaf的一个优点是做到了不破坏HTML自身内容的数据逻辑分离。（可以直接使用打开.html文件，不会去读取th：属性，不会报错） -->
        <tr th:each="learn : ${learnList}">
            <td th:text="${learn.author}">嘟嘟</td>
            <td th:text="${learn.title}">SpringBoot干货系列</td>
            <td><a th:href="${learn.url}" target="_blank">点我</a></td>
        </tr>
    </table>
</div>
</body>
</html>